{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Company</th>
      <th scope="col">Designation</th>
      <th scope="col">Status</th>
      <th scope="col">Date of Update</th>
      <th scope="col">Response</th>
      <th scope="col">Telephone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ name }}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}
